/**************************\
  Basic Modal Styles
\**************************/

.modal {

}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal__container {
    background-color: var(--color1);
    padding: 2% 3% 2%;
    max-width: 500px;
    max-height: 100vh;
    overflow-y: auto;
    border: 1px solid var(--color6);
    opacity: .9;
}

.modal__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal__title {
color: var(--color3);
        font-size: 1.25rem;
        line-height: 1.25;
    }

.modal__close {
  background: transparent;
  border: 0;
     font-size: 1.3em;
     padding: 0;
}

.modal__close:hover {
    color: var(--color4);
    background: transparent;
  }



.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
    line-height: 1.5;
    margin: 1em 0 1em;
        padding: 1em 0 1em;
    border-top: 1px solid var(--color6);
        border-bottom: 1px solid var(--color6);
}

.modal__content img {
width: 100%;
border: 1px solid var(--color6);
}



.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}




@media screen and (max-width: 520px) {
    .modal__container {
        max-width: 90%;
    }
  }




/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
