:root {
  --clr1: Gainsboro;
  --clr2: #efefef;
  --clr3: #30353d;
  --clr4: tomato;

}

body {
  background: var(--clr1);
  color: var(--clr3);
  padding: 50px 0 0 0;
  margin: 0 10px;
}
body *, body :after, body :before {
  box-sizing: border-box;
}

.transparent {
  background: transparent !important;
  padding: 5% 25%;
  text-align: center;
}

.wrap {
  max-width: 960px;
  min-width: 360px;
  margin: 0 auto;
  position: relative;
}
.wrap.sticky {
  margin-top: 150px;
  /* set height from header */
}

.fluid .wrap {
  max-width: 100% !important;
}

header {
  background: var(--clr2);
  padding: 50px;
  width: 100%;
  position: relative;
  z-index: 99;
}

.wrap.sticky header {
  background: var(--clr2);
  padding: 50px;
  position: fixed;
  top: 0px;
  max-width: 960px;
  width: calc(100% - 20px);
  min-width: 360px;
}

.fluid .wrap.sticky header {
  max-width: 100% !important;
}

header .logo {
  background: var(--clr4);
  width: 50px;
  height: 50px;
  border-radius: 50em;
}
header nav {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50px, -50%);
}
header nav ul li {
  display: inline-block;
  list-style: none;
  width: 60px;
  height: 10px;
  background: var(--clr3);
}

section {
  background: var(--clr2);
  padding: 100px 50px;
  width: 100%;
  position: relative;
  margin: 10px 0 0 0;
}

section .button {
  display: block;
  margin: 20px auto 0 auto;
  max-width: 120px;
  height: 35px;
  background: var(--clr4);
}

section.cards {
  padding: 0px;
  background: transparent;
  display: block;
  text-align: center;
}
section.cards .card {
        background: var(--clr2);
        width: 30%;
        padding: 1;
        margin: 1% 0 1% 0;
        display: inline-block;
        text-align: center;
}

section.cards .card .content {
padding: 3% 1% 15%;
}
section.cards .card img {
  width: 100%;
  height: auto;
}

footer {
  background: var(--clr3);
  padding: 50px;
  width: 100%;
  position: relative;
  margin: 10px 0 0 0;
}
footer .logo {
  background: var(--clr2);
  width: 50px;
  height: 50px;
  border-radius: 50em;
}
footer nav {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50px, -50%);
}
footer nav ul li {
  display: inline-block;
  list-style: none;
  width: 60px;
  height: 10px;
  background: var(--clr2);
}

@media (max-width: 728px) {
  section.cards .card {
    width: 100%;
    display: block;
    margin: 10px 0 0 0 !important;
    padding: 0;
  }
}
