@import url('https://fonts.googleapis.com/css?family=Comfortaa');

:root {
  --color1: #30353d;
  --color2: Gainsboro;
  --color3: DodgerBlue;
  --color4: tomato;
  --color5: rgba(255, 255, 255, 0.1);
  --color6: rgba(0, 0, 0, 0.1);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    color: var(--color1);
    font-family: 'Comfortaa', Courier, 'Times New Roman';
    background: var(--color2);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

.com {
  display: flex;
  align-items: stretch;
  height: 100vh;
  overflow: hidden;
}
.com__content {
  position: relative;
  flex: 8;
  padding: 10vh 10vw;
}
.com__section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 10%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.com__section.active {
  opacity: 1;
  visibility: visible;
}
.com__section-half {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.com__section--text h1 {
  margin-bottom: 3vh;
  font-size: 2em;
  font-weight: 300;
  color: var(--color3);
}
.com__section--text p {
  margin: 0;
  max-width: 600px;
  font-size: 20px;
}
.com__section--text img {
  max-width: 250px;
  margin: 0 auto;
  background: var(--color4);
      border: 1em solid var(--color6);
border-radius: 50%;
}
.com__section--text.centered {
  text-align: center;
}
.com__section--text-img {
  display: flex;
  flex-flow: row wrap;
}
.com__nav {
  width: 4em;
}
.com__nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  height: 100vh;
  overflow: visible;
}
.com__nav-item {
  flex: 1;
  position: relative;
  overflow: visible;
  border-bottom: 1px solid var(--color6);
  background: var(--color3);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.com__nav-item.active {
  background: var(--color4);
}
.com__nav-item:last-child {
  border-bottom: none;
}
.com__nav-item:hover {
  flex: 2;
}
.com__nav-item:hover .com__nav-link {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.com__nav-item:hover .blue-line,
.com__nav-item:hover .white-line,
.com__nav-item:hover .white-circle {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}
.com__nav-link {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0 40%;
  position: absolute;
  width: 280%;
  height: 100%;
  left: calc(-280% + 90px);
  background: var(--color4);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right center;
          transform-origin: right center;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  border-bottom-left-radius: 10%;
      border-top-left-radius: 10%;
}
.com__nav-link.flex-row {
  flex-flow: row wrap;
}
.com__nav-link.centered {
  align-items: center;
}
.com__nav-link .com__section-half {
  height: auto;
}
.com__nav-link .com__section-half:nth-child(2) {
  align-items: center;
}

.blue-line {
  display: block;
  width: 80%;
  height: 14px;
  background: var(--color3);
  margin-bottom: 12px;
}

.white-line {
  display: block;
  width: 60%;
  height: 5px;
  background: var(--color2);
  margin-bottom: 7px;
}
.white-line:nth-of-type(3) {
  width: 50%;
}

.white-circle {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--color2);
}

/* animation classes */
.animate {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.slideInLeft {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  opacity: 0;
}

.slideInRight {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  opacity: 0;
}

.scaleIn {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.scaleInLeft {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.delay-1 {
  transition-delay: 0.05s;
}

.delay-2 {
  transition-delay: 0.1s;
}

.delay-3 {
  transition-delay: 0.15s;
}

.delay-4 {
  transition-delay: 0.2s;
}

.delay-5 {
  transition-delay: 0.25s;
}

.logo {
  position: fixed;
  bottom: 3vh;
  left: 3vw;
  z-index: 2;
}
.logo img {
  width: 45px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.logo img:hover {
  -webkit-transform: rotate(200deg) scale(1.1);
          transform: rotate(200deg) scale(1.1);
}
