@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?wr6ax6');
  src:  url('../fonts/icomoon.eot?wr6ax6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wr6ax6') format('truetype'),
    url('../fonts/icomoon.woff?wr6ax6') format('woff'),
    url('../fonts/icomoon.svg?wr6ax6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ico-block-deviant:before {
  content: "\e900";
}
.icon-ico-block-github:before {
  content: "\e901";
}
.icon-ico-block-googledisk:before {
  content: "\e902";
}
.icon-ico-deviant:before {
  content: "\e903";
}
.icon-ico-lastfm:before {
  content: "\e904";
}
.icon-ico-love01:before {
  content: "\e905";
}
.icon-ico-love02:before {
  content: "\e906";
}
.icon-ico-love03:before {
  content: "\e907";
}
.icon-ico-love04:before {
  content: "\e908";
}
.icon-ico-love05:before {
  content: "\e909";
}
.icon-ico-love06:before {
  content: "\e90a";
}
.icon-ico-love07:before {
  content: "\e90b";
}
.icon-ico-love08:before {
  content: "\e90c";
}
.icon-ico-love026:before {
  content: "\e90d";
}
.icon-ico-love027:before {
  content: "\e90e";
}
.icon-ico-love028:before {
  content: "\e90f";
}
.icon-ico-nav01:before {
  content: "\e910";
}
.icon-ico-nav02:before {
  content: "\e911";
}
.icon-ico-nav03:before {
  content: "\e912";
}
.icon-ico-telegram:before {
  content: "\e913";
}
.icon-ico-tumblr:before {
  content: "\e914";
}
.icon-ico-twitter:before {
  content: "\e915";
}
