@import url('https://fonts.googleapis.com/css?family=Comfortaa');

:root {
  --color1: #30353d;
  --color2: Gainsboro;
  --color3: DodgerBlue;
  --color4: tomato;
  --color5: rgba(255, 255, 255, 0.1);
  --color6: rgba(0, 0, 0, 0.1);
}

header:after,
nav:after,
footer:after,
.module-block:after,
.gallery:after,
.social:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.4s ease;
}

body {
  color: var(--color2);
  font-family: 'Comfortaa', Courier, 'Times New Roman';
  display: -webkit-box;
  background: #323840;
}

.transparent {
  background: transparent !important;
  padding: 30% 10% 10% 10%;
  text-align: center;
}

.wrap {
  max-width: 960px;
  min-width: 360px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 5%;
}

.fluid .wrap {
  max-width: 100% !important;
}

header {
  background: var(--color6);
  padding: 2%;
  max-width: 960px;
  width: 100%;
  position: fixed;
  z-index: 99;
  border: 1px solid var(--color6);
}

.wrap.sticky header {
  background: var(--color1);
  padding: .5%;
}

header .logo {
  background: var(--color6);
  width: 90px;
  height: 90px;
  ;
  border-radius: 50em;
  float: left;
}

.logo img {
  width: 100%;
  background: var(--color6);
}

footer .logo img {
  width: 100%;
  background: transparent;
}

header nav {
  float: right;
  padding: 1%;
  width: 40%;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  padding: 4%;
  background: var(--color6);
  border: 1px solid var(--color6);
}

a {
  text-decoration: none;
  color: var(--color2);
}

a:hover {
  color: var(--color1);
}

header li:hover {
  background: var(--color4);
  color: var(--color1);
}

section {
  background: var(--color6);
  padding: 100px 50px;
  width: 100%;
  position: relative;
  margin: 10px 0 0 0;
}

.contentbox {
  border: 1px solid var(--color6);
}

section .button {
  display: block;
  margin: 20px auto 0 auto;
  max-width: 35%;
  background: var(--color3);
  border: 1px solid var(--color6);
  padding: 2%;
  text-decoration: none;
  color: var(--color2);
  text-align: center;
}

.button:hover {
  background: var(--color4);
  color: var(--color1);
}

section.cards {
  padding: 0px;
  background: transparent;
  display: block;
  text-align: center;
}

section.cards .card {
  background: var(--color6);
  width: 30%;
  border: 1px solid var(--color6);
  margin: 1% 0 1% 0;
  display: inline-block;
  text-align: center;
}

section.cards .card .content {
  padding: 3% 1% 15%;
}

section.cards .card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid var(--color6);
}

footer {
  background: var(--color1);
  padding: 50px;
  width: 100%;
  position: relative;
  margin: 10px 0 0 0;
  border: 1px solid var(--color6);
}

footer .logo {
  background: var(--color6);
  width: 70px;
  height: 70px;
  border-radius: 50em;
  opacity: .4;
}

footer .logo:hover {
  background: var(--color2);
  opacity: 1;
}

footer nav {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50px, -50%);
}

footer nav ul li {
  display: inline-block;
  list-style: none;
  font-size: 2.2em;
}

footer nav ul li:hover {
  color: var(--color4);
}

@media (max-width: 728px) {
  section.cards .card {
    width: 100%;
    display: block;
    margin: 10px 0 0 0 !important;
    padding: 0;
  }
}
