* {
    transition: 0.4s ease;
}

img {
    display: block;
    width: 100%;
}

.module-block {
    background-color: transparent;
    margin-top: 1%;
    padding: 0;
    border: none;
}

.columns {
    text-align: center;
    margin-top: 2%
}

.columns:last-child {
    margin-bottom: 5%;
}

.column {
    width: 32.5%;
    text-align: center;
    float: none;
}

h3 {
    padding-top: 5%;
}

#first, #second {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid var(--color6);
    opacity: .6;
}

#first:hover, #second:hover {
    /* border: 1px solid var(--color4); */
    opacity: 1;
}

@media screen and (max-width: 980px) {
    .column {
        width: 49.5%;
    }

    .column:last-child {
        margin-top: 2%;
        width: 99.5%;
    }
}

@media screen and (max-width: 667px) {
    .column {
        width: 100%;
    }

    .column:last-child {
        margin-top: 0;
    }

    #first, #second {
        margin-top: 5%;
    }
}
