@import url('https://fonts.googleapis.com/css?family=Comfortaa');

:root {
  --color1: #30353d;
  --color2: Gainsboro;
  --color3: DodgerBlue;
  --color4: tomato;
  --color5: rgba(255, 255, 255, 0.1);
  --color6: rgba(0, 0, 0, 0.1);
}

header:after,
nav:after,
footer:after,
.module-block:after,
.gallery:after,
.social:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.4s ease;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  line-height: 1.5;
  color: var(--color2);
  background: var(--color1);
  font-family: 'Comfortaa', Courier, 'Times New Roman';
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}


main {
  position: relative;
  margin-bottom: 15vh;
  min-height: 85vh;
  padding-top: 7%;
}

.block {
    width: 100%;
    background: var(--color1);
}

.left {
    float: left;
}
.left {
    float: right;
}
/*=======================================================
      SETTINGS
========================================================*/
section {
    overflow: hidden;
    width: 100%;
}

.position-center-center {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.text-center {
    text-align: center !important;
}

.headblock .position-center-center {
    margin-top: 30px;
    width: 100%;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
}

/*=======================================================
      HEADER
========================================================*/
.headerrow {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}
.headercontent {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 2% 50px;
}
.main_header .headerrow .headercontent {padding: 0;}


.main_header {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  transition: all 0.3s;
  padding-bottom: 6px;
  border-color: var(--color1);

}


.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-180deg);
}

.sticky {
  background-color: var(--color1);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid var(--color6);
}

.logo {
width: 90%;
}

nav {
  float: right;
  width: 80%;
}

nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
}

nav ul li {
  display: inline-block;
  margin-left: 2%;
  line-height: 1.5;
}

nav ul a {
  color: var(--color3);
  text-transform: uppercase;
  font-size: 12px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: all 500ms linear;
}
nav ul a.active {
    color: var(--color4);
}
.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  transition: all 200ms ease-in;
}

.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: var(--color2);
  display: block;
}

.scrollup {
    color: var(--color2);
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    position: fixed;
    display: none;
    bottom: 20px;
    right: 10px;
}

@keyframes scroll {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@media only screen and (max-width: 766px) {
  .main_header {
    padding-top: 25px;
  }
    .mobile-toggle {
      display: block;
    }
    nav ul li {
      width: 100%;
      padding: 7px 0;
      margin: 0;
    }
    nav ul {
      padding-top: 10px;
      margin-bottom: 22px;
      float: left;
      text-align: center;
      width: 100%;
    }
    nav {
      width: 100%;
    }
    .main_header {
      background-color: var(--color1);
    }














}

/*=======================================================
      CONTENT
========================================================*/
#content{
    max-width: 970px;
        margin: 8% auto;
        border: 1px solid var(--color6);
        text-align: center;
}

#justify{
    justify-content: center;
}


.column {
        /* position: relative; */
        vertical-align: middle;
        width: 100%;

        /* padding: 2%; */
}


.row {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}




#b100 {
        width: 100%;
}

#b50 {
        width: 50%;
}

#b49 {
    width: 49%;
}

#b30 {
        width: 33.33%;
}

#b20 {
        width: 25%;
}

#b10 {

width: 16.66%;
}

#b00 {

width: 60%;
}

#block00 {
 background: transparent;
}














img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

/*=======================================================
      FOOTER
========================================================*/
footer {

}
/*=======================================================
      BUTTONS
========================================================*/

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    background: red;
    position: relative;
    z-index: 1;
}

/*=======================================================
      MEDIA
========================================================*/

/* --------------------------------------------- 980 */
@media screen and (max-width: 980px) {
    .block {
        padding: 0 5%;
    }
}

/* --------------------------------------------- 767 */
@media screen and (max-width: 767px) {
    .position-center-center {
        position: inherit;
            width: 80%;
    }
    #b20 {
        width: 33.33%;
    }
    #b20:last-child {
        width: 100%;
    }
    #block01 > #content > .row {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    #block01 > #content > .row > #b50 {
        width: 70%;
        float: none;
    }
    #block01 > #content > .row > #b50:last-child {
        width: 100%;
        float: none;
    }
    #b30 {
        width: 50%;
    }
    #b00 {
        width: 80%;
    }
}

/* --------------------------------------------- 680 */
@media screen and (max-width: 680px) {
    #b10 {
        width: 33.33%;
    }
    #b00 {
        width: 90%;
    }
}

/* --------------------------------------------- 520 */
@media screen and (max-width: 520px) {
    #b30:first-child, #b30:last-child{
        width: 100%;
    }
    #b20 {
        width: 50% !important;
    }
}

/* --------------------------------------------- 490 */
@media screen and (max-width: 490px) {
    #block05 > #content > .row {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    #block05 > #content > .row > #b50 {
        width: 100%;
        float: none;
    }
    #b10 {
        width: 50%;
    }
    #b30{
        width: 100%;
    }
}





.accordion {
  background-color: var(--color6);
  color: var(--color2);
    margin-top: 5%;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border: 1px solid var(--color6);
}

.active, .accordion:hover {
  background-color: var(--color3);
}

.panel {
  padding: 3%;
  display: none;
  background-color: var(--color6);
  overflow: hidden;
  border: 1px solid var(--color6);

}
