@import url('https://fonts.googleapis.com/css?family=Comfortaa');

:root {
  --color1: #30353d;
  --color2: Gainsboro;
  --color3: DodgerBlue;
    --color3-1: CORNFLOWERBLUE;
  --color4: tomato;
  --color5: rgba(255, 255, 255, 0.1);
  --color6: rgba(0, 0, 0, 0.1);
}

header:after,
nav:after,
footer:after,
.module-block:after,
.gallery:after,
.social:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* transition: 0.4s ease; */
  border-color: var(--color6);
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  line-height: 1.5;
  color: var(--color2);
  background: var(--color1);
  font-family: 'Comfortaa', Courier, 'Times New Roman';
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}


main {
  position: relative;

}

.block {
    width: 100%;
}

.left {
    float: left;
}
.left {
    float: right;
}
/*=======================================================
      SETTINGS
========================================================*/
section {
    overflow: hidden;
    width: 100%;
}

.position-center-center {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.text-center {
    text-align: center !important;
}

.headblock .position-center-center {
    margin-top: 30px;
    width: 100%;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
}

/*=======================================================
      HEADER
========================================================*/
.headerrow {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}




.main_header {
    position: fixed;
    top: 0px;
    z-index: 999;
    max-width: 970px;
    /* opacity: 0; */
}

.headercontent {
    /* max-width: 970px; */
    width: 100%;
    margin: 0 auto;
    /* padding: 50px 2% 50px; */
    display: flex;
    width: 100%;
    position: fixed;
    background-image: linear-gradient(150deg, var(--color1), var(--color6));
    /* background: gray; */
}
.headerlogo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background: var(--color1);
    /* background: gray; */
}

.navimage {
width: 35%;
position: absolute;
z-index: 98;
    left: -40%;
background: transparent;
opacity: 0;
top: 19%;
}


.logo {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}


.open-logo {

        left: 0;
        opacity: .2;

}

.open-nav {
        z-index: 99;
      margin-top: 0;

}
.open-nav .mobile-toggle {
  transform: rotate(-180deg);
}

.visibil {
  opacity: 1;
}



nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 98;
}

.main_nav{
    width: 100%;
}


nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    width: 100%;
}

nav ul li {
  display: inline-block;
  margin-left: 2%;
  line-height: 1.5;
      padding: 1%;
}

nav ul a {
  color: var(--color3);
  text-transform: uppercase;
  font-size: 12px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: all 500ms linear;
      text-decoration: none;
}
nav ul a.active {
    color: var(--color4);
}
.mobile-toggle {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 5%;
    top: 2%;
    width: 30px;
    z-index: 99;
    transition: all 200ms ease-in;
    width: 5%;
    height: 4%;
    border: 1px solid var(--color6);
    border-radius: 10%;
}

.toggle-anim {
    transform: rotate(-180deg);
}


.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: var(--color2);
  display: block;
}

.scrollup {
    color: var(--color2);
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    position: fixed;
    display: none;
    bottom: 20px;
    right: 10px;
}

@keyframes scroll {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@media only screen and (min-width: 766px) {
.navimage {
    display: none;
}
}


@media only screen and (max-width: 766px) {
    .headercontent {
        flex-direction: column;
    }

  .main_header {

  }
  .headerlogo {
      width: 100%;
      padding: 3%;
  }
  nav ul {
    text-align: center;
  }
  nav {
    display: block;
    width: 100%;
    z-index: 0;
    margin-top: -100%;
  }











    .mobile-toggle {
      display: block;
    }
    .headerrow {
    padding: 0;
    }



    nav ul li {
      width: 100%;
      padding: 7px 0;
      margin: 0;
      /* border: 1px solid var(--color6); */
      border-top: none
    }
    nav ul li {
border-top: 1px solid var(--color6);
    }
    nav ul {
border-bottom: 1px solid var(--color6);
    }

    .main_header {
      background-color: var(--color1);
    }
}







.scrollup {
    color: var(--color2);
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    position: fixed;
    display: none;
    bottom: 20px;
    right: 10px;
}

@keyframes scroll {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
/*=======================================================
      CONTENT
========================================================*/
#content{
    max-width: 970px;
        margin: 8% auto;
        text-align: center;
}

#justify{
    justify-content: center;
}


.column {
        /* position: relative; */
        vertical-align: middle;
        width: 100%;

        /* padding: 2%; */
}

.dark {
  background: var(--color6);
}


.row {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}





#block01 > #content > .row {
align-items: center;
}
#block08 > #content > .row > .column{
background: var(--color6);
}




#b100 {
        width: 100%;
}

#b75 {
        width: 75%;
}

#b50 {
        width: 50%;
}

#b49 {
    width: 49%;
}

#b30 {
        width: 33.33%;
}


#b25 {
        width: 25%;
}

#b20 {
        width: 25%;
}

#b10 {

width: 15.66%;
}

#b00 {

width: 60%;
}

#block00 {
 background: transparent;
}














img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

/*=======================================================
      FOOTER
========================================================*/
footer {

}
/*=======================================================
      BUTTONS
========================================================*/

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    background: red;
    position: relative;
    z-index: 1;
}

/*=======================================================
      MEDIA
========================================================*/

/* --------------------------------------------- 980 */
@media screen and (max-width: 980px) {
    .block {
        padding: 0 5%;
    }
}

/* --------------------------------------------- 767 */
@media screen and (max-width: 767px) {
    .position-center-center {
        position: inherit;
            width: 80%;
    }
    #b20 {
        width: 33.33%;
    }
    #b25, #b75, #b20:last-child {
        width: 100%;
    }
    form{
        text-align: left;
    }
    #block01 > #content > .row {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    #block01 > #content > .row > #b50 {
        width: 70%;
        float: none;
    }
    #block01 > #content > .row > #b50:last-child {
        width: 100%;
        float: none;
    }
    #b30 {
        width: 50%;
    }
    #b00 {
        width: 80%;
    }
}

/* --------------------------------------------- 680 */
@media screen and (max-width: 680px) {
    #b10 {
        width: 33.33%;
    }
    #b00 {
        width: 90%;
    }
}

/* --------------------------------------------- 520 */
@media screen and (max-width: 520px) {
    #b30:first-child, #b30:last-child{
        width: 100%;
    }
    #b20 {
        width: 50% !important;
    }
}

/* --------------------------------------------- 490 */
@media screen and (max-width: 490px) {
    #block05 > #content > .row {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    #block05 > #content > .row > #b50 {
        width: 100%;
        float: none;
    }
    #b10 {
        width: 50%;
    }
    #b30{
        width: 100%;
    }
}





.accordion {
  background-color: var(--color6);
  color: var(--color2);
  margin-top: 5%;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border: 1px solid var(--color6);
}

.active, .accordion:hover {
  background-color: var(--color3);
}

.panel {
  padding: 3%;
  display: none;
  background-color: var(--color6);
  overflow: hidden;
}








.tab {
  overflow: hidden;
  display: flex;


}

/* Style the buttons inside the tab */
.tab button {
 width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  color: var(--color2);
  font-size: 17px;
    border: 1px solid var(--color6);
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--color3);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: transparent;
 border-bottom: none;
}

.tab button:not(selector) {
  background-color: var(--color6);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid var(--color6);
  border-top: none;
}




.progress-container {
  width: 100%;
  height: 0.4em;
  background: var(--color6);
  margin-top: 1%;
}

.progress-bar {
  height: 0.4em;
  background: var(--color3);
  opacity: .4;
  width: 0%;
  position: fixed;
}








.container {
  position: relative;
}

.image {
  display: block;
  border: 1px solid var(--color6);
}

.overlay {
  position: absolute;
  bottom: 0;
  background: var(--color6);
  border-top: 1px solid var(--color6);
  width: 100%;
  opacity:0;
  padding: 5% 2% 5% 2%;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}










/* Slideshow container */
.slideshow-container {
  position: relative;
  border-bottom: none;

}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: var(--color3);
  font-weight: bold;
  font-size: 20px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
}

.prev {
left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--color3);
  color: var(--color2);
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: var(--color6);
    border: 1px solidvar(--color6);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--color5);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: var(--color3);
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {
    color: var(--color3);
}




































.headercontainer {
  height: 100vh;
}

.headercontainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  /* background-color: #201c29; */
}
.headercontainer::before, .headercontainer::after {
  position: absolute;
  width: 350px;
  height: 350px;
  content: "";
  border-radius: 54% 46% 42% 58% / 60% 58% 42% 40%;
  background-image: linear-gradient(45deg, var(--color3), var(--color6));
  animation: vawe 5s linear infinite;
}
.headercontainer::before {
  top: -10%;
  right: -10%;
}
.headercontainer::after {
bottom: 7%;
  left: -15%;
}
.headercontainer .dots {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.headercontainer .dots span {
  position: absolute;
  border-radius: 50%;
  background-image: linear-gradient(45deg, var(--color3), var(--color6));
  border-radius: 38% 62% 55% 45%/32% 53% 47% 68%;
  animation: vawe 7s linear infinite;
}
.headercontainer .dots span:nth-child(1) {
  top: 10%;
  left: calc(100% - 360px);
  width: 75px;
  height: 75px;
}
.headercontainer .dots span:nth-child(2) {
  top: 15px;
  left: 180px;
  width: 50px;
  height: 50px;
  border-radius: 38% 62% 33% 67% / 60% 53% 47% 40%;
  transform: rotate(90deg);
}
.headercontainer .dots span:nth-child(3) {
  right: 180px;
  bottom: 20px;
  width: 80px;
  height: 80px;
  border-radius: 38% 62% 55% 45% / 52% 53% 47% 48%;
}
.headercontainer .dots span:nth-child(4) {
  bottom: 50px;
  left: 240px;
  width: 20px;
  height: 20px;
  border-radius: 38% 62% 55% 45% / 52% 53% 47% 48%;
}
.headercontainer .dots span:nth-child(5) {
  right: 280px;
  bottom: 80px;
  width: 25px;
  height: 25px;
  border-radius: 38% 62% 55% 45% / 52% 53% 47% 48%;
}
.headercontainer .dots span:nth-child(6) {
  top: 6%;
  left: calc(100% - 400px);
  width: 25px;
  height: 25px;
}


.headblock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 70%;
  padding: 1em;
  text-align: center;
  font-size: 1.25rem;
  background-color: var(--color6);
  border: 1px solid var(--color6);
  color: var(--color3);
  mix-blend-mode: luminosity;
}
.headblock h1 {
  margin: 0;
  font-size: 5vw;
  letter-spacing: 5px;
}
.headblock a {
  text-decoration: none;
  color: #ab49de;
}



@keyframes vawe {
  20% {
    border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
  }
  40% {
    border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
  }
  60% {
    border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
  }
  80% {
    border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
  }
}



.chevron {
	position: absolute;
	left: 50%;
	bottom: 5vh;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
	width: 13px;
	height: 13px;
	border-bottom: 2px solid var(--color2);
	border-right: 2px solid var(--color2);
	z-index: 9;
	-webkit-transform: translate(-50%, 0%) rotate(45deg);
	-moz-transform: translate(-50%, 0%) rotate(45deg);
	transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 2s ease-in-out infinite;
	-moz-animation: fade_move_down 2s ease-in-out infinite;
	animation: fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
 0% {
-webkit-transform:translate(0, -10px) rotate(45deg);
opacity: 0;
}
 50% {
opacity: 1;
}
 100% {
-webkit-transform:translate(0, 10px) rotate(45deg);
opacity: 0;
}
}
@-moz-keyframes fade_move_down {
 0% {
-moz-transform:translate(0, -10px) rotate(45deg);
opacity: 0;
}
 50% {
opacity: 1;
}
 100% {
-moz-transform:translate(0, 10px) rotate(45deg);
opacity: 0;
}
}
@keyframes fade_move_down {
 0% {
transform:translate(0, -10px) rotate(45deg);
opacity: 0;
}
 50% {
opacity: 1;
}
 100% {
transform:translate(0, 10px) rotate(45deg);
opacity: 0;
}
}
















#content h1 {
    padding: 10% 0 5%;
}

#content p, #content h3 {
    padding: 3%;
}



.ttl::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.3em;
  background: var(--color4);
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, var(--color4) 0%, var(--color3) 100%);
  background: -webkit-linear-gradient(-45deg, var(--color4) 0%, var(--color3) 100%);
  background: linear-gradient(135deg, var(--color4) 0%, var(--color3) 100%);
}

.txtleft{
    text-align: left;
}

.txtright{
    text-align: right;
}

.txtcenter{
    text-align: center;
}




body {
  overflow: hidden;
}


/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color1);
  /* change if the mask should have another color then white */
  z-index: 99999;
  /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  /* background-image: url(../img/loading.svg); */
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}

#status img{
    z-index: 99999;
    display: block;
    position: absolute;
    width: 100%;
    opacity: 1;
}
















:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}


form {
    max-width: 800px;
    margin: 0 auto;
}


form > .row:last-child{
    justify-content: flex-end;
}




/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
padding: 1.7%;
  border: 1px solid var(--color6);
  box-sizing: border-box;
  resize: vertical;
  background-color: var(--color6);
  resize: none;
  color: var(--color2);
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {

}
